{% load static %}
<!doctype html>
<html style="overflow-x: hidden; overflow-y: auto;">

<head>
    <meta charset="utf-8">
    <title>分配申请</title>
    <link rel="stylesheet" href="{% static 'style/my.css' %}">

    <link rel="stylesheet" href="{% static 'style/others.css' %}">
    <link rel="stylesheet" href="{% static 'style/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bulma.min.css' %}">

    <script defer src="{% static 'javascript/all.js' %}"></script>
    <script src="{% static 'javascript/vue.js' %}"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/mdui.min.js' %}"></script>
</head>
<body>
<el-container id="table">
    <el-dialog title="申请分配信息" :visible.sync="showContractInfo">
        <el-table :data="contractInfo.countersign">
            <el-table-column prop="countersignPerson" label="会签人" width="150"></el-table-column>
            <el-table-column prop="opinion" label="会签意见"></el-table-column>
            <el-table-column prop="ctime" label="会签时间" width="150"></el-table-column>
        </el-table>
        <el-table :data="contractInfo.approval">
            <el-table-column prop="approvalPerson" label="审批人" width="150"></el-table-column>
            <el-table-column prop="opinion" label="审批意见"></el-table-column>
            <el-table-column prop="astate" label="审批结果"></el-table-column>
            <el-table-column prop="atime" label="审批时间" width="150"></el-table-column>
        </el-table>
        <el-table :data="contractInfo.sign">
            <el-table-column prop="signPerson" label="签订人" width="150"></el-table-column>
            <el-table-column prop="sinformation" label="签订信息"></el-table-column>
            <el-table-column prop="stime" label="签订时间" width="150"></el-table-column>
        </el-table>
    </el-dialog>
    <el-dialog title="分配申请管理人员" :visible.sync="showSetContract" width="40%" v-loading="loading">
        <el-form ref="set">
            {#            :model="setContract"#}
            <el-collapse accordion>
                <el-collapse-item title="会签" name="1">
                    <el-transfer
                            :titles="['备选用户', '会签人']"
                            v-model="value_contract"
                            :data="usernames1"
                            @change="onchange('contract')"
                    >
                    </el-transfer>
                </el-collapse-item>
                <el-collapse-item title="审批" name="2">
                    <el-transfer
                            :titles="['备选用户', '审批人']"
                            v-model="value_approval"
                            :data="usernames2"
                            @change="onchange('approval')"
                    >
                    </el-transfer>
                </el-collapse-item>
                <el-collapse-item title="签订" name="3">
                    <el-transfer
                            :titles="['备选用户', '签订人']"
                            v-model="value_sign"
                            :data="usernames3"
                            @change="onchange('sign')"
                    >
                    </el-transfer>
                </el-collapse-item>
            </el-collapse>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="setContract_">提 交</el-button>
        </div>
    </el-dialog>
    <el-header style="text-align: right; font-size: 12px">
        <el-row :gutter="20">
            <el-col :span="8">
                <el-input
                        placeholder="输入申请名搜索"
                        v-model="search"
                        size="mini"
                        clearable>
                </el-input>
            </el-col>
            <el-col :span="16">
                 <el-button @click="resetDateFilter">清除申请状态过滤器</el-button>
            </el-col>
        </el-row>
    </el-header>
    <el-table ref="filterTable"
              :data="tableData.filter(data => !search || data.contractname.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%">
        <el-table-column prop="contractnum" label="申请号" sortable align="center"></el-table-column>
        <el-table-column prop="contractname" label="申请名" align="center"></el-table-column>
        <el-table-column prop="clientname" label="场地名" align="center"></el-table-column>
        <el-table-column prop="begintime" label="开始时间" sortable align="center"></el-table-column>
        <el-table-column prop="endtime" label="结束时间" sortable align="center"></el-table-column>
        <el-table-column prop="state" label="申请状态" sortable align="center" column-key="stateNum"
                         :filters="[{ text: '未分配', value: ['0'] }, { text: '已分配', value: ['1','2','3','4','5','-1'] }]"
                         :filter-method="filterTag"
                         filter-placement="bottom-end">
            <div slot-scope="scope">
                <el-tag
                        v-show="scope.row.stateNum=='-1' "
                        type="danger"
                        disable-transitions
                        style="margin-left: 0px;">[[scope.row.state]]
                </el-tag>
                <el-tag
                        v-show="scope.row.stateNum!='-1' "
                        :type="scope.row.stateNum === '0' ? 'primary' : 'success'"
                        disable-transitions
                        style="margin-left: 0px;">[[scope.row.state]]
                </el-tag>
            </div>
        </el-table-column>
        <el-table-column prop="draft" label="申请人" align="center"></el-table-column>
        <el-table-column label="分配信息" align="center">
            <div slot-scope="scope">
                <el-button size="mini" type="success"
                           v-show="scope.row.stateNum=='-1'||scope.row.stateNum=='1'||scope.row.stateNum=='2'||scope.row.stateNum=='3'||scope.row.stateNum=='4'||scope.row.stateNum=='5'"
                           @click="showContractInfoOpen(scope.row)">查看分配信息
                </el-button>
                <el-button size="mini" v-show="scope.row.stateNum=='0'" type="primary" style="margin-left: 0px;"
                           @click="setContractOpen(scope.row)">前去分配管理人员
                </el-button>
            </div>
        </el-table-column>
    </el-table>
</el-container>
</body>

<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/setContract",
                type: "POST",
                data: {"type": "init"},
                success: function (data1) {
                    let contracts = data1.contracts;
                    for (var i = 0; i < contracts.length; i++) {
                        let contract = contracts[i];
                        vue.tableData.push(
                            {
                                contractnum: contract.contractnum, //申请号
                                contractname: contract.contractname, //申请名
                                clientname: contract.clientname, //场地名
                                begintime: contract.begintime, //开始时间
                                endtime: contract.endtime, //结束时间
                                stateNum: contract.stateNum, //状态编号
                                state: contract.state, //状态
                                draft: contract.draft//申请人
                            }
                        );
                    }

                    let users = data1.users;
                    for (var i = 0; i < users.length; i++) {
                        vue.usernames.push(users[i]);
                    }
                    let firstusers = data1.firstusers;
                    for (var j = 0; j < firstusers.length; j++) {
                        vue.firstusernames.push(afirstusers[j]);
                    }
                    let secondusers = data1.secondusers;
                    for (var i = 0; i < secondusers.length; i++) {
                        vue.secondusernames.push(secondusers[i]);
                    }
                    let thirdusers = data1.thirdusers;
                    for (var i = 0; i < thirdusers.length; i++) {
                        vue.thirdusernames.push(thirdusers[i]);
                    }

                }
            });
        },
        data() {
            return {
                tableData: [],
                search:'',
                showSetContract: false,
                usernames: [],
                usernames1: [],
                value_contract: [],
                usernames2: [],
                value_approval: [],
                usernames3: [],
                usernames4: [],
                usernames5: [],
                usernames6: [],
                usernames7: [],
                usernames8: [],
                usernames9: [],
                value_sign: [],
                loading: false,
                setContract: [{
                    contractnum: '',
                    countersign1: '',
                    countersign2: '',
                    countersign3: '',
                    approval1: '',
                    approval2: '',
                    approval3: '',
                    sign: '',
                }],
                formLabelWidth: '100px',
                showContractInfo: false,
                contractInfo: [],
                fd: '',
            };
        },
        methods: {
            resetDateFilter() {
                this.$refs.filterTable.clearFilter('stateNum');
            },
            filterTag(values, row) {
                for (var i = 0; i < values.length; i++) {
                    let value = values[i];
                    if (row.stateNum === value)
                        return true;
                }
                return false;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            setContractOpen(row) {
                this.showSetContract = true;
                this.setContract.contractnum = row.contractnum;
                this.usernames1 = [];
                this.usernames2 = [];
                this.usernames3 = [];
                <!--this.usernames.forEach((username, index) => {-->
                    <!--this.usernames1.push({-->
                        <!--label: username,-->
                        <!--key: username,-->
                    <!--});-->
                    <!--this.usernames2.push({-->
                        <!--label: username,-->
                        <!--key: username,-->
                    <!--});-->
                    <!--this.usernames3.push({-->
                        <!--label: username,-->
                        <!--key: username,-->
                    <!--});-->

                <!--});-->
                this.firstusernames.forEach((username, index) => {
                    this.usernames1.push({
                        label: username,
                        key: username,
                    });
                });
                this.secondusernames.forEach((username, index) => {
                    this.usernames2.push({
                        label: username,
                        key: username,
                    });
                });
                this.thirdusernames.forEach((username, index) => {
                    this.usernames3.push({
                        label: username,
                        key: username,
                    });

                });
            },
            setContract_() {

                if (this.value_contract.length === 0) {
                    vue.$message.error('请分配会签人员！');
                    return false;
                }
                if (this.value_approval.length === 0) {
                    vue.$message.error('请分配审批人员！');
                    return false;
                }
                if (this.value_sign.length === 0) {
                    vue.$message.error('请分配签订人员！');
                    return false;
                }

                this.setContract.countersign1 = this.value_contract[0];
                if (this.value_contract[1]) {
                    this.setContract.countersign2 = this.value_contract[1];
                }
                if (this.value_contract[2]) {
                    this.setContract.countersign3 = this.value_contract[2];
                }
                this.setContract.approval1 = this.value_approval[0];
                if (this.value_approval[1]) {
                    this.setContract.approval2 = this.value_approval[1];
                }
                if (this.value_approval[2]) {
                    this.setContract.approval3 = this.value_approval[2];
                }
                this.setContract.sign = this.value_sign[0];

                vue.fd = new FormData();
                vue.fd.append("type", "distribution");
                vue.fd.append("contractnum", this.setContract.contractnum);
                vue.fd.append("countersign1", this.setContract.countersign1);
                if (this.setContract.countersign2)
                    vue.fd.append("countersign2", this.setContract.countersign2);
                else
                    vue.fd.append("countersign2", "");
                if (this.setContract.countersign3)
                    vue.fd.append("countersign3", this.setContract.countersign3);
                else
                    vue.fd.append("countersign3", "");
                vue.fd.append("approval1", this.setContract.approval1);
                if (this.setContract.approval2)
                    vue.fd.append("approval2", this.setContract.approval2);
                else
                    vue.fd.append("approval2", "");
                if (this.setContract.approval3)
                    vue.fd.append("approval3", this.setContract.approval3);
                else
                    vue.fd.append("approval3", "");
                vue.fd.append("sign", this.setContract.sign);

                vue.setContract = [{
                    contractnum: '',
                    countersign1: '',
                    countersign2: '',
                    countersign3: '',
                    approval1: '',
                    approval2: '',
                    approval3: '',
                    sign: '',
                }];
                vue.loading = true;
                $.ajax({
                    url: "/setContract",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: vue.fd
                    ,
                    success: function (data1) {
                        vue.loading = false;
                        vue.$message.success('分配成功！');
                        window.location.href = "";
                    }
                })
            },
            showContractInfoOpen(row) {
                this.showContractInfo = true;
                $.ajax({
                    url: "/setContract",
                    type: "POST",
                    data: {"type": "info", "contractnum": row.contractnum},
                    success: function (data1) {
                        var cInfo = data1.cInfo;
                        vue.contractInfo =
                            {
                                contractnum: cInfo.contractnum,
                                countersign: [
                                    {
                                        countersignPerson: cInfo.countersign1,
                                        opinion: cInfo.copinion1,
                                        ctime: cInfo.ctime1,
                                    }, {
                                        countersignPerson: cInfo.countersign2,
                                        opinion: cInfo.copinion2,
                                        ctime: cInfo.ctime2,
                                    }, {
                                        countersignPerson: cInfo.countersign3,
                                        opinion: cInfo.copinion3,
                                        ctime: cInfo.ctime3,
                                    }
                                ],
                                approval: [{
                                    approvalPerson: cInfo.approval1,
                                    astate: cInfo.astate1,
                                    opinion: cInfo.aopinion1,
                                    atime: cInfo.atime1,
                                }, {
                                    approvalPerson: cInfo.approval2,
                                    astate: cInfo.astate2,
                                    opinion: cInfo.aopinion2,
                                    atime: cInfo.atime2,
                                }, {
                                    approvalPerson: cInfo.approval3,
                                    astate: cInfo.astate3,
                                    opinion: cInfo.aopinion3,
                                    atime: cInfo.atime3,
                                }],
                                sign: [{
                                    signPerson: cInfo.sign,
                                    sinformation: cInfo.sinformation,
                                    stime: cInfo.stime,
                                }],
                            }
                    }
                })
            },
            onchange(form) {
                if (form === 'contract') {
                    if (vue.value_contract.length == 4) {
                        vue.$message.error("最多只能分配三名会签人员！");
                        vue.value_contract.pop();
                    }
                }
                else if (form === 'approval') {
                    if (vue.value_approval.length == 4) {
                        vue.$message.error("最多只能分配三名审批人员！");
                        vue.value_approval.pop();
                    }
                }
                else if (form === 'sign') {
                    if (vue.value_sign.length == 2) {
                        vue.$message.error("最多只能分配一名签订人员！");
                        vue.value_sign.pop();
                    }
                }
            }
        }
    })
</script>
</html>